# Ignore everything in misc folder
data_standardization/misc/*

# Jupyter Notebook
temp.ipynb 

# Python
\venv
\causalimpact_env


# model-CRN
model-CRN/crn_env/
model-CRN/results/
model-CRN/figures/
model-CRN/__pycache__/
model-CRN/utils/__pycache__/
*.pyc
*.ckpt*
